.header__link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.6;
}
