.profile__add-button {
  width: 282px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: center / 16px no-repeat rgba(0, 0, 0, 0) url(../../../images/plus-icon_white.svg);
  padding: 0;
  margin: 0 auto;
  transition: opacity .2s linear;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media (min-width: 640px) {
  .profile__add-button {
    width: 150px;
    background-size: 22px;
    margin-left: auto;
    margin-right: 0;
  }
}