.profile__name {
  max-width: 227px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-left: 27px;
}

@media (min-width: 640px) {
  .profile__name {
    max-width: 214px;
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  .profile__name {
    max-width: 454px;
    font-size: 42px;
    line-height: 48px;
  }
}