.popup__button-save_disabled {
  color: black;
  background-color: white;
  border: 1px solid black;
  opacity: .2;
}

.popup__button-save_disabled:hover{
  cursor: default;
  background-color: white;
}